@model List<InsureFlowAI.DAL.Models.DataModel.Tbl_Services>
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Services</h4>
            <h1 class="display-4 mb-4">We Provide Best Services</h1>
            <p class="mb-0">
                At InsureFlowAI, we are dedicated to delivering innovative and reliable solutions tailored to your unique needs. Our comprehensive suite of services is designed to streamline your processes, enhance efficiency, and empower your business to thrive in today's dynamic landscape. From cutting-edge technology integrations to expert advisory and support, we are committed to providing unparalleled value and helping you achieve your strategic goals.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="@item.ImageUrl" class="img-fluid rounded-top w-100" alt="">
                            <div class="service-icon p-3">
                                <i class="fa fa-users fa-2x"></i>
                            </div>
                        </div>
                        <div class="service-content p-4">
                            <div class="service-content-inner">
                                <a href="#" class="d-inline-block h4 mb-4">@item.Name</a>
                                <p class="mb-4">@item.Description</p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill py-3 px-5" href="#">More Services</a>
            </div>
        </div>
    </div>
</div>

