<div class="container-fluid nav-bar px-0 px-lg-4 py-lg-0">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="#" class="navbar-brand p-0">
                <h1 class="text-primary mb-0">
                    Allianz          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMYvKaMNh9wp2mKG-mHeq82lWgsO1eT5RMJA&s" alt="Logo" style="height:80px; width:auto;">
                </h1>

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-0 mx-lg-auto">
                    <a href="~/LifeSure-1.0.0/index.html" class="nav-item nav-link active">Home</a>
                    <a href="~/LifeSure-1.0.0/about.html" class="nav-item nav-link">About</a>
                    <a href="~/LifeSure-1.0.0/service.html" class="nav-item nav-link">Services</a>
                    <a href="~/LifeSure-1.0.0/blog.html" class="nav-item nav-link">Blog</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown">
                            <span class="dropdown-toggle">Pages</span>
                        </a>
                        <div class="dropdown-menu">
                            <a href="feature.html" class="dropdown-item">Our Features</a>
                            <a href="team.html" class="dropdown-item">Our team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="FAQ.html" class="dropdown-item">FAQs</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="~/LifeSure-1.0.0/contact.html" class="nav-item nav-link">Contact</a>
                    <div class="nav-btn px-3">
                        <button class="btn-search btn btn-primary btn-md-square rounded-circle flex-shrink-0" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search"></i></button>
                        <a href="#" class="btn btn-primary rounded-pill py-2 px-4 ms-3 flex-shrink-0"> Get a Quote</a>
                    </div>
                </div>
            </div>
            <div class="d-none d-xl-flex flex-shrink-0 ps-4">
                <div class="d-flex flex-column ms-3">
                    <div class="d-flex justify-content-center mb-2">
                        <a class="btn p-0 text-primary me-3" style="font-size:2rem;" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn p-0 text-primary" style="font-size:2rem;" href="#"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn p-0 text-primary me-3" style="font-size:2rem;" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="btn p-0 text-primary" style="font-size:2rem;" href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
